.navbar-brand img {
  display: absolute;
}

body {
  background: url("https://mdbootstrap.com/img/Photos/Others/images/76.jpg")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}

.card-text {
  text-align: center;
}

.page-title {
  font-family: Arial, Helvetica, sans-serif;
  color: darkgreen;
}
